/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #{$white-mod};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$black-color};
  --global-text-color-light: #{$grey-color};
  --global-theme-color: #{$purple-color};
  --global-hover-color: #{$purple-color};
  --global-hover-text-color: #{$white-mod};
  --global-footer-bg-color: #{$white-mod};
  --global-footer-text-color: #{$purple-color};
  --global-footer-link-color: #{$purple-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: #{$black-color};
  --global-card-bg-color: #{$white-mod};
  --global-highlight-color: #{$red-color-dark};
  --global-back-to-top-bg-color: rgba(
    #{red($black-color)}, 
    #{green($black-color)}, 
    #{blue($black-color)}, 
    0.4
  );
  --global-selection-color: rgba(
    #{red($purple-color)}, 
    #{green($purple-color)}, 
    #{blue($purple-color)}, 
    0.5
  );
  --global-back-to-top-text-color: #{$white-mod};
  --global-newsletter-bg-color: #{$white-mod};
  --global-newsletter-text-color: #{$black-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$white-mod};
  --global-text-color-light: #{$white-mod};
  --global-theme-color: #{$yellow-color};
  --global-hover-color: #{$yellow-color};
  --global-hover-text-color: #{$white-mod};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$yellow-color};
  --global-footer-link-color: #{$yellow-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #{$white-mod};
  --global-card-bg-color: #{$grey-900};
  --global-back-to-top-bg-color: rgba(
    #{red($white-color)}, 
    #{green($white-color)}, 
    #{blue($white-color)}, 
    0.5
  );
  --global-selection-color: rgba(
    #{red($yellow-color)}, 
    #{green($yellow-color)}, 
    #{blue($yellow-color)}, 
    0.5
  );
  --global-back-to-top-text-color: #{$black-color};
  --global-newsletter-bg-color: #{$white-mod};
  --global-newsletter-text-color: #{$grey-color-dark};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-light {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme-setting="light"] {
  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }
}
