/*******************************************************************************
 * Themes
 ******************************************************************************/

@use "sass:color";

:root {
  --global-bg-color: #{$light-bg-color};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$light-text-color};
  --global-text-color-light: #{$light-text-muted};
  --global-theme-color: #{$light-accent-color};
  --global-hover-color: #{$light-accent-color};
  --global-hover-text-color: #{$light-bg-color};
  --global-footer-bg-color: #{$light-bg-color};
  --global-footer-text-color: #{$light-accent-color};
  --global-footer-link-color: #{$light-accent-color};
  --global-distill-app-color: #{$light-text-muted};
  --global-divider-color: #{$light-text-color};
  --global-card-bg-color: #{$light-bg-color};
  --global-highlight-color: #{$red-color-dark};
  --global-back-to-top-bg-color: rgba(#{red($light-text-color)}, #{green($light-text-color)}, #{blue($light-text-color)}, 0.4);
  --global-selection-color: rgba(#{red($light-accent-color)}, #{green($light-accent-color)}, #{blue($light-accent-color)}, 0.25);
  --global-back-to-top-text-color: #{$light-bg-color};
  --global-newsletter-bg-color: #{$light-bg-color};
  --global-newsletter-text-color: #{$light-text-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$dark-bg-color};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$dark-text-color};
  --global-text-color-light: #{$dark-text-color};
  --global-theme-color: #{$dark-accent-color};
  --global-hover-color: #{$dark-accent-color};
  --global-hover-text-color: #{$dark-bg-color};
  --global-footer-bg-color: #{$dark-bg-color};
  --global-footer-text-color: #{$dark-accent-color};
  --global-footer-link-color: #{$dark-accent-color};
  --global-distill-app-color: #{$grey-color-light};
  --global-divider-color: #{$dark-text-color};
  --global-card-bg-color: #{$dark-card-bg-color};
  --global-back-to-top-bg-color: rgba(#{red($dark-text-color)}, #{green($dark-text-color)}, #{blue($dark-text-color)}, 0.5);
  --global-selection-color: rgba(#{red($dark-accent-color)}, #{green($dark-accent-color)}, #{blue($dark-accent-color)}, 0.35);
  --global-back-to-top-text-color: #{$dark-bg-color};
  --global-newsletter-bg-color: #{$dark-text-color};
  --global-newsletter-text-color: #{$dark-bg-color};

  --global-tip-block: #42b983;
  --global-tip-block-bg: #e2f5ec;
  --global-tip-block-text: #215d42;
  --global-tip-block-title: #359469;
  --global-warning-block: #e7c000;
  --global-warning-block-bg: #fff8d8;
  --global-warning-block-text: #6b5900;
  --global-warning-block-title: #b29400;
  --global-danger-block: #c00;
  --global-danger-block-bg: #ffe0e0;
  --global-danger-block-text: #600;
  --global-danger-block-title: #c00;

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-light {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme-setting="light"] {
  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }
}
