<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title font-weight-bold text-uppercase" style="color: var(--global-theme-color);">
      {{ entry.title }}
    </h5>
    <div class="interests-container d-flex flex-wrap justify-content-center">
      {% for item in entry.contents %}
        {% if item.field %}
          <span class="interest-badge text-uppercase">
            {{ item.field }}
          </span>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
