<div class="interests-container d-flex flex-wrap justify-content-center">
  {% for content in entry.contents %}
    {% if content.field %}
      <span class="interest-badge text-uppercase">
        {{ content.field }}
      </span>
    {% endif %}
  {% endfor %}
</div>
