<div class="cv-section cv-section--interest">
  <div class="button-container">
    {% for item in entry.contents %}
      <div class="interest-tag">{{ item.field }}</div>
    {% endfor %}
  </div>
</div>
