<div class="cv-section cv-section--list_groups">
  <div class="list-groups">
    {% for group in entry.contents %}
      <div class="list-group">
        {% if group.icon %}<i class="{{ group.icon }}"></i>{% endif %}
        <div class="list-group-label">{{ group.category }}</div>
        <ul class="list-group-items">
          {% for item in group.items %}
            <li>{{ item.name }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>
