<div class="list-groups">
  {% for hobby in entry.contents %}
    <div class="list-group col-md-6">
      <table class="table-cv list-group-table">
        <tbody>
          <tr>
            <td class="list-group-category-icon"></td>
            <td class="list-group-name">
              {{ hobby.name | safe }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  {% endfor %}
</div>
