---
layout: default
---
<div style="font-size: 10pt; margin: 0; padding: 0; position: relative;">
    <!-- First row: department icon and department description -->
    <div style="display: inline-block; width: 25px; text-align: center; position: absolute; top: 0;">
        <i class="fa-solid fa-landmark" style="color: var(--global-theme-color);"></i>
    </div>
    <div style="display: inline-block; padding-left: 30px; line-height: 1;">
       <p style="margin-top: -15px;"><a href='https://dse.unibo.it'><i>Dipartimento di Scienze Economiche, </i></a> <a href='https://www.unibo.it/it'><i>Università di Bologna</i></a></p>
       <p style="margin-top: -12.5pt"><a href='https://goo.gl/maps/1icot9p1g97AWCD37'><i>Piazza Scaravilli 2, 40126, Bologna</i></a></p>
    </div>
    <!-- Second row: position icon and actual position -->
    <div style="display: inline-block; width: 25px; text-align: center; position: absolute; top: 0;">
        <i class="fa-solid fa-location-dot"></i>
    </div>
    <div style="display: inline-block; padding-left: 30px; line-height: 1;">
        <p style="margin-top: -15px;">posizione attuale: Buenos Aires, Argentina</p>
    </div>
</div>
  
  
