---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            overflow: hidden; /* Prevent scrollbars */
            text-align: center;
        }

        /* Style for the download button */
        .download-button {
            padding: 10px 20px;
            border-radius: 5px;
            text-transform: lowercase;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            margin-bottom: 20px;
            display: inline-block; /* Ensure it's centered properly */
        }

        /* Embed the PDF */
        embed {
            width: 100%;
            max-width: 1200px;
            height: 300%
        }

        /* Responsive behavior for mobile devices */
        @media (max-width: 768px) {
            embed {
                height: 100%
            }

            .download-button {
                width: 90%;
                max-width: 300px;
            }
        }
    </style>
</head>
<body>

    <!-- Title -->
    <div class="post">
        <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <p class="post-description">{{ page.description }}</p>
        </header>
    </div>

    <!-- Download button centered on the page -->
    <a href="{{ "/assets/pdf/cv-light.pdf" | relative_url }}" download="[Marco Rosso] Curriculum Vitae.pdf" class="download-button">
        download curriculum vitae
    </a>

    <!-- Embed the PDF -->
    <embed src="{{ site.baseurl }}/assets/pdf/cv-light.pdf" type="application/pdf" title="Curriculum Vitae">

</body>
</html>
