---
layout: default
---

<!-- Download Button for Light Version -->
<div id="download-btn-container" style="text-align: center; margin-bottom: 60px;">
  <a id="download-btn" href="{{ "/assets/pdf/cv-light.pdf" | relative_url }}" download="[Marco Rosso] Curriculum Vitae.pdf" class="btn" style="text-transform: lowercase;">download curriculum vitae</a>
</div>
