---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <style>
        /* Flex container to center the iframe */
        .iframe-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 20px 0;
        }

        /* Responsive iframe */
        iframe {
            width: 100%; /* Full width for small screens */
            max-width: 100%; /* Maximum width for large screens */
            border: none;
            height: 100%; /* Use viewport height to scale the iframe */
            overflow: auto; /* Enable scrolling within the iframe */
        }

        /* Download button */
        .button-container {
            display: flex;
            justify-content: center; /* Centers the button horizontally */
            align-items: center;
            margin: 20px 0;
        }

        .download-button {
            padding: 10px 20px;
            border-radius: 5px;
            text-transform: lowercase;
            cursor: pointer;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            margin-bottom: 20px;
            display: inline-block;
        }

        /* Responsive behavior for mobile devices */
        @media (max-width: 100%) {
            iframe {
                height: 100%; /* Adjust height for mobile devices */
            }

            .download-button {
                width: 80%; /* Ensure button scales well */
                max-width: 300px;
            }
        }

        /* Extra small mobile devices */
        @media (max-width: 100%) {
            .download-button {
                width: 90%;
            }
        }
    </style>
</head>
<body>

    <!-- Title -->
    <div class="post">
        <header class="post-header">
        <h1 class="post-title">{{ page.title }}
        <a
            href="{{ "/assets/pdf/[Marco Rosso] Curriculum Vitae.pdf" | relative_url }}"
            download="[Marco Rosso] Curriculum Vitae.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="float-right"
            style="color: var(--global-text-color);"
            ><i class="fa-solid fa-file-pdf"></i
          ></a>
        </h1>
        <p class="post-description">{{ page.description }}</p>
        </header>
    </div>

    <!-- Embed the PDF using iframe for better mobile support -->
    <div class="iframe-container">
        <iframe src="{{ site.baseurl }}/assets/pdf/[Marco Rosso] Curriculum Vitae.pdf" title="curriculum vitae"></iframe>
    </div>

</body>
</html>
