---
layout: default
---

<!-- Download Button for Light Version -->
<div id="download-btn-container" style="text-align: center; margin-bottom: 60px;">
  <a id="download-btn" href="{{ "/assets/pdf/cv-light.pdf" | relative_url }}" download="[Marco Rosso] Curriculum Vitae.pdf" class="btn" style="text-transform: none;" >download curriculum vitae</a>
</div>

<div id="cv-container" style="margin-top: 60px;">
  <embed id="cv-pdf" src="{{ "/assets/pdf/cv-light.pdf" | relative_url }}" type="application/pdf" width="100%" height="1200px">
</div>

<style>
  /* Hidden by default, shown on scroll top */
  #download-btn-container {
    display: none;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function loadPDFBasedOnTheme() {
      const pdfViewer = document.getElementById('cv-pdf');
      const cvContainer = document.getElementById('cv-container');
      const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');

      // Check if dark mode is enabled
      if (darkModeMediaQuery.matches) {
        pdfViewer.src = '{{ "/assets/pdf/cv-dark.pdf" | relative_url }}'; // Show dark theme PDF
        cvContainer.className = 'cv-container-dark'; // Apply dark theme background
      } else {
        pdfViewer.src = '{{ "/assets/pdf/cv-light.pdf" | relative_url }}'; // Show light theme PDF
        cvContainer.className = 'cv-container-light'; // Apply light theme background
      }
    }

    // Load the correct PDF and background color on page load
    loadPDFBasedOnTheme();

    // Listen for changes in the theme and update the PDF and background color accordingly
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', loadPDFBasedOnTheme);

    // Show button only when at the top of the page
    function toggleDownloadButton() {
      const btnContainer = document.getElementById('download-btn-container');
      if (window.scrollY === 0) {
        btnContainer.style.display = 'block';
      } else {
        btnContainer.style.display = 'none';
      }
    }

    // Initial check
    toggleDownloadButton();

    // Check on scroll
    window.addEventListener('scroll', toggleDownloadButton);
  });
</script>
