---
layout: default
---

<!-- Download Button -->
<div id="download-btn-container" style="text-align: center; margin-bottom: 20px;">
  <a id="download-btn" href="{{ "/assets/pdf/cv-light.pdf" | relative_url }}" download="[Marco Rosso] Curriculum Vitae.pdf" class="btn" style="text-transform: none;">download curriculum vitae</a>
</div>

<!-- PDF Display Area -->
<embed id="cv-pdf" src="{{ "/assets/pdf/cv-light.pdf" | relative_url }}" type="application/pdf" style="width: 100vw; height: 100vh; border: none;">

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function loadPDFBasedOnTheme() {
      const pdfViewer = document.getElementById('cv-pdf');
      const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
      const theme = darkModeMediaQuery.matches ? 'dark' : 'light';

      // Adjust the PDF source based on the theme
      pdfViewer.src = `{{ "/assets/pdf/cv-${theme}.pdf" | relative_url }}`;
    }

    // Load the correct PDF on page load
    loadPDFBasedOnTheme();

    // Listen for changes in the theme and update the PDF accordingly
    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', loadPDFBasedOnTheme);
  });
</script>
