---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title" id="error-title" style="color: var(--global-theme-color);"></h1>
    <p class="post-description" id="error-description"></p>
  </header>

  <div id="localized-404" style="text-align:center; padding:2rem;">
    <p id="message-line-1"></p>
    <p id="message-line-2"></p>
  </div>
</div>

<script>
  window.__NOT_FOUND_TEXTS__ = {{ site.data.not_found_texts | jsonify }};
</script>
<script defer src="{{ '/assets/js/error404.js' | relative_url }}"></script>
