---
layout: default
---
<div id="localized-404" style="text-align:center; padding:2rem;">
  <h1 style="color: var(--theme-color); margin-bottom:1.5rem;">
    {{ page.title }}
    <i class="fa-solid fa-file-circle-question" style="margin-left:0.5rem"></i>
  </h1>

  <p id="message-line-1"></p>
  <p id="message-line-2"></p>
</div>
